@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

h1 {text-align: center;}
h2 {text-align: center;}
h3 {text-align: center;}
body
{
    margin:0px;
    background-color: #D6D6D6;
}
.header_container
{
    position:relative;
}
.header_image
{
   position:absolute;
}
.header_container h1
{
    position: absolute;
    z-index:1;
    color:black;
    bottom:50px;
    left:50%;
    text-align: right;
    font-size:72px;
}
.header_container img
{
    width: 100%;
    height:auto;
}
.header_container span
{
    position:absolute;
    width: 300px;
    height: 80%;
    top: 0px;
	bottom:0;
	left: 0;
    z-index:2;
}

.navbar-container
{
    margin:0px;
    padding:0;
}
.navbar-container ul
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5A3AB9;
  text-align: center;
}

.navbar a
{
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  justify-content: center;
}
.navbar a:hover {
    background-color: #775CC8;
    text-decoration: underline;
  }

.navbar{
    flex:1;
    padding: 0.5rem 0;
    overflow: hidden;
    border: 5px solid #FFE564;
}
/*
.navbar
{
    flex:1;
    margin:0px; 
    border:1px solid; 
    width:100%;
    height:40px;
    background-color: rgba(128, 0, 128, 0.452);
}
*/
/* Attributes page */
.Attribute_Content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #3e16b4;
    background-color: #fff7ce;
    padding: 50px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    border-radius: 37px;
}
/*Tags Page*/
.Tags_Content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #3e16b4;
    background-color: #fff7ce;
    padding: 50px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    border-radius: 37px;
}
/*Nested Page*/
.Nested_Content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #3e16b4;
    background-color: #fff7ce;
    padding: 50px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    border-radius: 37px;
}

.row
{
    display:flex;
    margin-bottom: 50px;;
}

.column
{
    margin:20px;
    flex: 1;
    padding:20px;
    height: 300px;
}

.box-image
{
    width:40%;
}
.box-image img
{
    width:100%;
    height: 180px;
    display:block;
    object-fit: cover;
}
@media (max-width: 800px)
{
    .row
    {
        flex-direction: column;
        height: 1000px;
    }
    .column
    {
        height: 300px;
    }
}
.image {
    position: relative;
    width: relative;
    height: 300px;
    /*trannsform: translateY(20px);
    top: 20px;
    bottom: 20px;
    */
    padding-bottom: 220px;
}

.image__img {
    width:100%;
    height: 400px;
    display:block;
    object-fit: cover;
}

.image__overlay {
    position: absolute;
    top: -1px;
    left: 0;
    width: 100%;
    height: 78%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    overflow: hidden;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
   
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0px);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/* Alan Content*/ 
.Alan_Content
{
    display:flex;
    margin-left:50px;
    margin-right: 50px;
    margin-top: 25px;
    padding:50px;
    border: 2px solid black;
}
.alan_container
{
    flex: 3;
    padding: 50px;
}
.alan_container2
{
    margin-left: auto;
    flex: 2;
    padding: 50px;
}
.Poem_1
{
    flex:3;
}
.Poem_2
{
    flex:2;
}
#poem_head
{
    font-size:xx-large;
    border:1px dashed black;
}
#poem_content
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 2;
}
#header_alan
{
    font-size:xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#header_description
{
    line-height: 2;
    text-indent: 50px;
    font-size: 18px;
}

/*Elise's Stuff*/

.Ellis
{
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    flex: 2;
    padding: 2px;
    background-color: rgb(242, 76, 248);
    border: ridge 10px silver;
    box-shadow: 2px 4px 10px pink ;
    background-image: url(https://i.etsystatic.com/7680978/r/il/658eec/1824928522/il_570xN.1824928522_np82.jpg); 
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(255,255,255,0.7);
      background-blend-mode: lighten;
   
    
}

.Etitle
{
   
    font-size: 50px;
    font-family: 'Karla', sans-serif;
    color: rgb(255, 157, 173);    
    text-shadow: -6px 6px 5px rgb(7, 6, 7) ;
}

.Ellis_Content
{
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 60px;
    border:5px ridge silver; 
    background-color:rgb(214, 214, 214);
    padding: 2px;
}


.Ellis_Content img
{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: -7px 10px 5px rgb(51, 51, 51);


}



.More_Stuff
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    border: 50px rgb(7, 6, 7);
    background-image: url( https://lh3.googleusercontent.com/proxy/AdIaGcgR-A0chev2kfzxCZbHUwkspTDT5NkWzNLejv1rpfO8-ppY8HKkbrSIkheJLrY5i4jncVIuPqXJddkvu_F9);

    background-size: 50%;
    background-color:rgb(214, 214, 214,0.7);
      background-blend-mode: lighten;
   
}

.More_Stuff img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    padding-top: 10px;
    margin-bottom: 10px;
    box-shadow: -7px 10px 5px rgb(51, 51, 51);

}

#Star_Dance img
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    scroll-padding-bottom: 20px;
   
   


}

#Good_Stuff
{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Martel Sans', sans-serif;
    color: rgb(211, 109, 126);
    -webkit-text-stroke: .01px black;
    line-height: 1.5;
    text-indent: 30px;
    text-shadow: -3px 2px 2px rgb(97, 49, 78) ;
    
}

#About_Elise
{
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Martel Sans', sans-serif;
    color: rgb(211, 109, 126);
    -webkit-text-stroke: .01px black;
    line-height: 1.5;
    text-indent: 50px;
    text-shadow: -3px 2px 2px rgb(97, 49, 78) ;
    
}





#Star_Dance
{
    animation: animationFrames linear 3s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 3s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 3s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 3s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    animation-iteration-count: infinite;
  }
  
  @keyframes animationFrames{
    0% {
      transform:  translate(0px,0px)  rotate(0deg) ;
    }
    14% {
      transform:  translate(0px,-46px)  rotate(-22deg) ;
    }
    34% {
      transform:  translate(0px,8px)  rotate(5deg) ;
    }
    50% {
      transform:  translate(0px,24px)  rotate(24deg) ;
    }
    70% {
      transform:  translate(0px,0px)  rotate(7deg) ;
    }
    100% {
      transform:  translate(0px,0px)  rotate(7deg) ;
    }
  
  
 
    0% {
      -moz-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    14% {
      -moz-transform:  translate(0px,-46px)  rotate(-22deg) ;
    }
    34% {
      -moz-transform:  translate(0px,8px)  rotate(5deg) ;
    }
    50% {
      -moz-transform:  translate(0px,24px)  rotate(24deg) ;
    }
    70% {
      -moz-transform:  translate(0px,0px)  rotate(7deg) ;
    }
    100% {
      -moz-transform:  translate(0px,0px)  rotate(7deg) ;
    }
  
  
 
    0% {
      -webkit-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    14% {
      -webkit-transform:  translate(0px,-46px)  rotate(-22deg) ;
    }
    34% {
      -webkit-transform:  translate(0px,8px)  rotate(5deg) ;
    }
    50% {
      -webkit-transform:  translate(0px,24px)  rotate(24deg) ;
    }
    70% {
      -webkit-transform:  translate(0px,0px)  rotate(7deg) ;
    }
    100% {
      -webkit-transform:  translate(0px,0px)  rotate(7deg) ;
    }
  
  
 
    0% {
      -o-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    14% {
      -o-transform:  translate(0px,-46px)  rotate(-22deg) ;
    }
    34% {
      -o-transform:  translate(0px,8px)  rotate(5deg) ;
    }
    50% {
      -o-transform:  translate(0px,24px)  rotate(24deg) ;
    }
    70% {
      -o-transform:  translate(0px,0px)  rotate(7deg) ;
    }
    100% {
      -o-transform:  translate(0px,0px)  rotate(7deg) ;
    }
  
  
 
    0% {
      -ms-transform:  translate(0px,0px)  rotate(0deg) ;
    }
    14% {
      -ms-transform:  translate(0px,-46px)  rotate(-22deg) ;
    }
    34% {
      -ms-transform:  translate(0px,8px)  rotate(5deg) ;
    }
    50% {
      -ms-transform:  translate(0px,24px)  rotate(24deg) ;
    }
    70% {
      -ms-transform:  translate(0px,0px)  rotate(7deg) ;
    }
    100% {
      -ms-transform:  translate(0px,0px)  rotate(7deg) ;
    }
}

h2
{
    font-family: 'Martel', sans-serif;
    font-weight: bold;
    color: rgb(25, 0, 255);
}

button
{
color: blueviolet;
font-size: larger;
}

ul{
   text-align: center;
   font-family: 'Karla', sans-serif;
}

table
{
   
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


/*End Ellis's Stuff*/

/*Katherine's Content*/

ruby
{
    color: darkred;
    font-family: 'Courier New';
}

rt
{
    background-color: dodgerblue;
    font-size: medium;
}

del
{
    text-decoration: wavy underline;
    text-shadow: 3px 5px darkslategrey;
}

blockquote
{
    text-transform: capitalize;
    text-indent: 10px;
}

time
{
    page-break-before: always;
    opacity: 0.7;
}

@keyframes KateFadeIn
{
    0% {opacity: 50%}
    100% {opacity: 100%}
}

.Katherine
{
    font-family: 'Garamond';
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    margin: 0px;
}

.Katherine #About_Me
{
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 100px;
    width: 60%;
    align-content: center;
}

.Katherine h3
{
    text-align: left;
}

.Katherine p
{
    text-indent: 30px;
}

.Katherine #Image
{
    align-content: center;
    padding: 50px;
    animation-name: KateFadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: ease-out;
}



/*End Katherine's Content*/

/*Robert Content*/
.Rob_Content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #0F14DA;
    background-color: #5558Da;
    padding: 50px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    border-radius: 37px;
}

.Rob_Content #rob_About_Me_Photo{
    float: right;
    border: solid 3px #0F14DA;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    margin-right: 50px;
    margin-left: 50px;
}

.Rob_Content h1{
    color: #fff7ce;
}

.Rob_Content #rob_About_Me_Bio{
    color: #fff7ce;
    margin-left: 50px;
}

.frog_animation{
    position: relative;
    animation-name:Bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes Bounce{
    0%{
        bottom: -300px;
    }

    15%{
        bottom: 50px
    }

    30%{
        bottom: 0px;
    }

    45%{
        bottom: 40px;
    }

    60%{
        bottom: 0px;
    }

    75%{
        bottom:30px;
    }
    100%{
        bottom: -300px;
    }
}
/*Robert Content End*/ 
/*Killian content start*/
.Killian_Content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    border: solid 3px #da490f;
    background-color: #ff0000;
    padding: 50px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    border-radius: 37px;
}

.Killian_Content #About_me_Image{
    float: right;
    border: solid 3px #0fb5da;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.70);
    margin-right: 50px;
    margin-left: 50px;
}

.Killian_Content h1{
    color: #ffffff;
}

.Killian_Content #About_Me_Bio{
    color: #ffffff;
    margin-left: 50px;
}

.puck_animation{
    position: relative;
    animation-name:Bounce;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes Bounce{
    0%{
        bottom: -200px;
    }

    15%{
        bottom: 50px
    }

    30%{
        bottom: 0px;
    }

    45%{
        bottom: 50px;
    }

    60%{
        bottom: 0px;
    }

    75%{
        bottom:40px;
    }
    100%{
        bottom: -300px;
    }
}
/*Killian Content End*/